<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href= "{% static 'css/loginstyle.css' %}">
    <title>Title</title>
</head>
<body>
<h3 align="center" style="color:red">{{message}}</h3>
    <h2>Admin Change Password</h2>
    <div class="container" align="center">
        <form method = "post" action="{% url 'adminupdatepwd' %}" >
            {% csrf_token %}
            <label for="username">Enter Password:</label>
            <input type="text" placeholder="Enter New Password" name="opwd" required>
            <label for="password">Re Enter Password</label>
            <input type="text" placeholder="Re Enter Password" name="npwd" required>
            <button type="submit">Update</button>
        </form>
    </div>
</body>
</html>