{% extends 'adminlogin.html' %}
{% block 'body' %}
    <h2 align="center">Admin Change Password</h2>
<h3 align="center" style="color:red">{{message}}</h3>
    <div class="container" >
        <form method = "post" action="{% url 'adminupdatepwd' %}" >
            {% csrf_token %}
            <label for="username">Enter Old Password:</label>
            <input type="text" placeholder="Enter Username" name="opwd" required>
            <label for="password">Enter New Password:</label>
            <input type="text" placeholder="Enter Password" name="npwd" required>
            <button type="submit">Update</button>
        </form>
    </div>
{% endblock %}